<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>airbnb-Home</title>
    <link rel="stylesheet" href="output.css">
</head>
<body class="bg-gray-50 text-gray-900">
    <header class="bg-white shadow-sm sticky top-0">
    <nav class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
        <h1 class="text-2xl font-bold text-rose-500">airbnb</h1>
        <div class="flex gap-6 items-center">
            <a href="#" class="hover:text-rose-500 transition">Explore</a>
            <a href="#" class="hover:text-rose-500 transition">About</a>
            <a href="/host/add-home" class="bg-rose-500 text-white px-4 py-2 rounded-xl hover:bg-rose-600 transition">Become a host</a>
        </div>
    </nav>
    </header>
    <!-- Hero section -->


    <!-- <header>
        <h1 class="bg-red-400 p-3 shadow-2xl text-7xl">Welcome to airbnb</h1>
    </header>
    <main>
        <a href="/host/add-home">Register your House.</a>
    </main> -->
</body>
</html>