<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>airbnb - Registered</title>
    <link rel="stylesheet" href="/output.css">
</head>
<body class="bg-white shadow-sm flex flex-col">
    <header class="shadow-sm sticky top-0">
        <nav class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
            <h1 class="text-2xl font-bold text-rose-500">
                airbnb
            </h1>
            <div class="flex gap-6 items-center">
                <a href="#" class="hover:text-rose-500 transition">
                    Explore
                </a>
                <a href="#" class="hover:text-rose-500 transition">
                    About
                </a>
                <a href="" class="hover:text-rose-500 transition">
                    Become a Host
                </a>
            </div>
        </nav>
    </header>
    <main class="grow flex items-center justify-center px-6 my-6">
        <div class="bg-white shadow-xl rounded-3xl p-12 max-w-xl w-full text-center">
            <div class="p-12 max-w-xl w-full text-center">
                <div class="w-24 h-24 mx-auto rounded-full bg-green-100 flex items-center justify-center text-5xl">
                ✅
            </div>
                <h1 class="mt-8 text-4xl font-bold text-gray-900">
                    Home Registered !
                </h1>
                <p class="mt-4 text-gray-600 leading-relaxed">
                    Congratulations ! Your property has been successfully added. <br>
                    Guestes can now discover and book your home.
                </p>
            </div>
            <div class="mt-10 flex justify-center gap-4">
                <a href="/"
                class="bg-rose-500 text-white px-8 py-3 rounded-xl hover:bg-rose-600 hover:font-bold hover:scale-[1.02] transition duration-300">
                    Go to Homepage
                </a>
            </div>
        </div>
    </main>
    <footer class="bg-gray-900 text-gray-300 py-8 sticky bottom-0">
        <div class="max-w-7xl mx-auto px-6 text-center">
            <p>
                © 2026 Airbnb Clone. All rights reserved.
            </p>
        </div>
    </footer>
</body>
</html>