<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body>
    <h1>CONTACT US form</h1>
    <form action="/contact-us" method="POST">
        <table padd>
            <tr>
                <td><label for="name">Name</label></td>
                <td><input type="text" id="name" placeholder="Enter name here" name="name"></td>
            </tr>
            <tr>
                <td><label for="email">Email ID</label></td>
                <td><input type="email" id="email" placeholder="Enter email here" name="email"></td>
            </tr>
            <tr>
            <td colspan="2" align="center"> 
                    <input type="submit">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>